body {
  background-color: white;
  font-family:monospace;
}

#otsikko {
height:100px; width:650px; color:black;
            border:5px solid; background-color: grey;"
}
h1 {
  font-size:25px;
}
p {
  font-family:
  font-size:
  color:
  background-color: g

}
ol {
  background-color:
}
